<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/staticFiles/main.css"/>
        <script>
            var TopicObject = {
              "Basic":{
                "Negative":[],
                "Threshold":[],
                "BitPlane":[],
                "LogTransform":[],
                "PowerTransform":[],
                "Histogram":[]
              },
              "Spatial":{
                "Smooth":[],
                "Sharp":[],
                "Min":[],
                "Max":[],
                "Median":[],
                "High_Boost":[]
              },
              "Derivative":{
                "Prewit_horizontal":[],
                "Prewit_vertical":[],
                "Sobel_horizontal":[],
                "Sobel_vertical":[],
                "Laplacian":[]
              }
            }
            window.onload = function() {
              var TopicSel = document.getElementById("Topic");
              var AlgorithmSel = document.getElementById("Algorithm");
              
              //var chapterSel = document.getElementById("chapter");
              for (var x in TopicObject) {
                console.log(x)
                TopicSel.options[TopicSel.options.length] = new Option(x, x);
                
              }
              TopicSel.onchange = function() { 
                AlgorithmSel.length = 1;
                //display correct values
                console.log(TopicObject[this.value])
                for (var y in TopicObject[this.value]) {
                  AlgorithmSel.options[AlgorithmSel.options.length] = new Option(y, y);
                  //console.log(y);
                }
              }
              AlgorithmSel.onchange = function() {
               
                var z = AlgorithmSel.value;
                console.log(z)
                //let p = document.getElementById("magic");
                let q = document.getElementById("hidden");
                console.log(q)
                let q_bitplane = document.getElementById("hidden_BitPlane");
                console.log(q_bitplane)

                let q_power = document.getElementById("hidden_Power");
               

                if(z=='Threshold'){
                    q.style.display = "block";

                    q_bitplane.style.display="none";
                    q_power.style.display = "none";

                    
                }
                else if (z=='BitPlane'){
                    q.style.display = "none";
                    q_bitplane.style.display = "block";

                }
                else if(z=='PowerTransform'){
                    q.style.display = "none";
                    q_bitplane.style.display = "none";
                    q_power.style.display="block";
                }
                else {
                    q.style.display = "none";
                    q_bitplane.style.display = "none";
                    q_power.style.display="none";

                }
            
              }
              
            }

            
            </script>

    </head>
    <body>
     


        <!-- Side navigation -->
<div class="sidenav">
       <h1>Algorithm Selection</h1>
       <form method="post" name="form1" id="form1" action="/">
        Subjects: <select name="Topic" id="Topic">
            <option value="" selected="selected">Select Topic</option>
          </select>
          <br><br>
        Topics: <select name="Algorithm" id="Algorithm">
            <option value="" selected="selected">Please select Topic first</option>
          </select>
          <br><br>

          <div id="hidden">
            
            <input id='Threshold_input' type="number" name="Threshold_value" step="1" min="0" max="255"  placeholder="0-255" />
          <br><br>
        </div>


        <div id="hidden_BitPlane">
            <input id='Bitplane_input' type="number" name="Bitplane_value" step="1" min="1" max="8"  placeholder="1-8" />
          <br><br>
        </div>

        <div id="hidden_Power">
            <input id='Power_input' type="number" name="Power_value" step="0.1" min="0" max="2.0"  placeholder="0-2" />
          <br><br>
        </div>

            <input class="Submit_algo" type="submit" value="Submit"  name="Cascade_action">

       
            
        </form>   

    </div>
        



        <div class="main">
            <h1>Basic Image Processing Application Using Flask</h1>
      
            <p>Choose image file to upload</p>
            
              <form method="POST" enctype="multipart/form-data" action="/">
                <input type="file" id="myFile" name="uploaded-file" accept=".jpg,.jpeg,.png">
                <input type="submit" value="Submit" name="Submit_action">
            </form>
            
        
        
       

        <div class="row">
            <div class="column">
                {% if user_image %}
                <p>Original Image</p>
                <img src="{{ user_image }}" alt="Original" style="width: 100%;">
                {% endif %}
            </div>
            <div class="column">
                {% if updated_image %}
                <p>{{ Algorithm_name }}</p>
                <img src="{{ updated_image }}" alt="Updated" style="width: 100%;">
                {% endif %}
            </div>
        </div>
       

        </div>

        
        
    </body>
   
</html>